.digits {
  margin-top: 100px;
}
.section {
  display: flex;
  flex-direction: column;
}

.section__title {
  width: 60%;
  margin: 100px auto 20px auto;
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.section__subtitle {
  text-align: center;
  width: 60%;
  margin: 0 auto 0 auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section__table {
  width: 1100px;
  margin: 60px auto 100px auto;
}

.table__cell {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell > li {
  width: 250px;
}
.table__list-bottom-elem {
  margin: 60px 0 0 0;
}

.table__heading {
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text--fotter {
  display: block;
  margin-top: 20px;
}
