.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  color: #f2f2f2;
  padding: 60px 80px 40px 80px;
  display: flex;
}
.footer-columns {
  position: absolute;
  width: 90%;
  display: flex;
}

.footer-column__content-copyright {
  display: flex;
  flex-basis: 711px;
}

.footer-logo {
  position: absolute;
  width: 183px;
  height: 35px;
}
.content-copyright__author {
  margin: 0;
  padding: 18px 0 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  align-self: flex-end;
}

.footer-column__content-about {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
}
.column-link {
  text-decoration: none;
  color: #f2f2f2;
}
.footer-column__content-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list__column-link {
  line-height: 30px;
  font-size: 18px;
  font-style: normal;
}
.footer-column__content-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.footer-column__content-social {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
}

.social-icons {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.social-link {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
