.kaufman {
  background-color: #1f1f1f;
  color: white;
  overflow: hidden;
  position: relative;
}
.section__title-theme_dark {
  width: 60%;
  margin: 90px auto 20px auto;
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  z-index: 1;
}

.section__subtitle-theme_dark {
  text-align: center;
  width: 60%;
  margin: 0 auto 0 auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 1;
}

.section__table-theme_dark {
  margin: 80px auto 90px auto;
  display: flex;
  flex-wrap: wrap;
}

.table__cell-theme_dark {
  width: 1100px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 1;
}

.table__cell-theme_dark > li {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.table__heading_theme_dark {
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text_theme_dark {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__list-bottom-elem-theme_dark {
  margin: 80px 0 0 0;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -124px;
  width: 660px;
  height: 636px;
}

/* .table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
} */
