.techniques {
  margin: 100px 0 100px;
  font-weight: normal;
  line-height: 1.15;
  text-align: center;
}

.techniques__title {
  margin: 0 0 20px 0;
  font-size: 60px;
  font-weight: bold;
  margin: 0 auto 20px auto;
  width: 60%;
}

.techniques__subtitle {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  margin: 0 auto 60px auto;
  margin-bottom: 60px;
  width: 60%;
}

.cards {
  width: 920px;
  padding: 0;
  margin: 0 auto 0 auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.cards__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 240px;
  margin: 0 100px 60px 0;
}

.cards__image {
  height: 160px;
  width: 160px;
  margin: 0 40px 43px 40px;
  border-radius: 50%;
}

.cards__title {
  margin: 0 auto 16px auto;
  font-size: 24px;
  font-weight: bold;
}

.cards__description {
  margin: 0 auto 0 auto;
  line-height: 23px;
  font-size: 18px;
}

.cards__item:nth-child(3n) {
  margin-right: 0;
}

.cards__item:nth-child(4n),
.cards__item:nth-child(5n) {
  margin-bottom: 0;
}
