.video {
  padding: 100px 0 0;
  text-align: center;
}

.video__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0 auto 20px auto;
  width: 60%;
}

.video__subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin: 0 auto 50px auto;
}

.video__list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.video__iframe {
  width: 515px;
  height: 316px;
}
