.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  z-index: -1;
  /* parameters for the header section */
}

.logo_place_header {
  width: 154px;
  height: 31px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.header__title {
  width: 730px;
  z-index: 1;
  align-self: center;
  margin: 0 0 0 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 1;
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
}
/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: -1;
  position: absolute;
  right: 0;
  top: 64px;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 756px;
  height: 608px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}
.header__subtitle a {
  display: block;
}

.description {
  margin: 100px 0 0 0;
  padding: 0;
  display: flex;
  position: relative;
}

.two-columns {
  width: 80%;
  margin: 100px auto 100px auto;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  margin: 0;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.paragraph__span {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  margin-top: 100px;
}
.section {
  display: flex;
  flex-direction: column;
}

.section__title {
  width: 60%;
  margin: 100px auto 20px auto;
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.section__subtitle {
  text-align: center;
  width: 60%;
  margin: 0 auto 0 auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section__table {
  width: 1100px;
  margin: 60px auto 100px auto;
  display: table;
}

.table__cell {
  list-style: none;
  padding: 0;
  margin: 0;
  display: table-row;
}

.table__cell > li {
  display: table-cell;
}

.table__heading {
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 0 0 20px 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text--fotter {
  display: block;
  margin-top: 20px;
}
