.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
  position: relative;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  z-index: -1;
  /* parameters for the header section */
}

.logo_place_header {
  width: 154px;
  height: 31px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.header__title {
  width: 730px;
  z-index: 1;
  align-self: center;
  margin: 0 0 0 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 1;
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
}
/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: -1;
  position: absolute;
  right: 0;
  top: 64px;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 756px;
  height: 608px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}
.header__subtitle a {
  display: block;
}

.description {
  margin: 100px 0 0 0;
  padding: 0;
  display: flex;
  position: relative;
}

.two-columns {
  width: 80%;
  margin: 100px auto 100px auto;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  margin: 0;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.paragraph__span {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  margin-top: 100px;
}
.section {
  display: flex;
  flex-direction: column;
}

.section__title {
  width: 60%;
  margin: 100px auto 20px auto;
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.section__subtitle {
  text-align: center;
  width: 60%;
  margin: 0 auto 0 auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section__table {
  width: 1100px;
  margin: 60px auto 100px auto;
}

.table__cell {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell > li {
  width: 250px;
}
.table__list-bottom-elem {
  margin: 60px 0 0 0;
}

.table__heading {
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text--fotter {
  display: block;
  margin-top: 20px;
}

.feynman {
  margin-top: 100px;
  background-color: #f2f2f2;
  position: relative;
  height: 790px;
}
.feynman-block {
  text-align: center;
}

.feynman-block__title {
  width: 775px;
  position: relative;
  margin: 0 auto 70px auto;
  align-self: center;
  z-index: 1;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman-block__subtitle {
  margin: 0 auto 0 auto;
  position: relative;
  z-index: 1;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman-block__image {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 867px;
  height: 637px;
}

.feynman-block__link {
  text-decoration: none;
  position: absolute;
  right: 48px;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.kaufman {
  background-color: #1f1f1f;
  color: white;
  overflow: hidden;
  position: relative;
}
.section__title-theme_dark {
  width: 60%;
  margin: 90px auto 20px auto;
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  z-index: 1;
}

.section__subtitle-theme_dark {
  text-align: center;
  width: 60%;
  margin: 0 auto 0 auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 1;
}

.section__table-theme_dark {
  margin: 80px auto 90px auto;
  display: flex;
  flex-wrap: wrap;
}

.table__cell-theme_dark {
  width: 1100px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 1;
}

.table__cell-theme_dark > li {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.table__heading_theme_dark {
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text_theme_dark {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__list-bottom-elem-theme_dark {
  margin: 80px 0 0 0;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -124px;
  width: 660px;
  height: 636px;
}

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  color: #f2f2f2;
}
.footer-columns {
  position: absolute;
  margin: 60px auto 40px auto;
  width: 90%;
  display: flex;
  justify-content: center;
}

.footer-column__content-copyright {
  display: flex;
  flex-basis: 711px;
}

.footer-logo {
  position: absolute;
  width: 183px;
  height: 35px;
}
.content-copyright__author {
  position: absolute;
  bottom: 0;
  margin: 18px 0 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer-column__content-about {
  display: flex;
  flex-direction: column;
}
.column-link {
  text-decoration: none;
  color: #f2f2f2;
}
.footer-column__content-list {
  list-style: none;
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
}
.footer-column__content-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.footer-column__content-social {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
}

.social-icons {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.social-link {
  display: flex;
  align-items: center;
  margin: auto auto 10px auto;
}
